<div class="row banners">
  <div class="col l8 m8 s12">
    <div class="preview-main">
      <a href="/books">
        <img src="images/preview/{{fileContents.first}}" alt="">
      </a>
    </div>
  </div>
  <div class="col l4 m4">
    <div class="preview-minor">
      <a href="/books">
        <img src="images/preview/{{fileContents.second}}" alt="">
      </a>
    </div>
  </div>
  <div class="col l4 m4">
    <div class="preview-minor">
      <a href="/books">
        <img src="images/preview/{{fileContents.third}}" alt="">
      </a>
    </div>
  </div>
</div>