  <div class="row banners">
    <div class="col l8 m8 s12">
      <div class="preview-main">
        <p class="flow-text preview-text">
          Читайте книги, ругайтесь матом
        </p>
      </div>
    </div>
    <div class="col l4 m4">
      <div class="preview-minor"></div>
    </div>
    <div class="col l4 m4">
      <div class="preview-minor"></div>
    </div>
  </div>
