<div class="row banners">
  <div class="col l8 m8 s12">
    <div class="preview-main">
      <a href="/books">
        <img src="images/books/1b82227209dcb1e55b618ec509af5aef" alt="">
      </a>
    </div>
  </div>
  <div class="col l4 m4">
    <div class="preview-minor">
      <a href="/books">
        <img src="images/books/1b82227209dcb1e55b618ec509af5aef" alt="">
      </a>
    </div>
  </div>
  <div class="col l4 m4">
    <div class="preview-minor">
      <a href="/books">
        <img src="images/books/1b82227209dcb1e55b618ec509af5aef" alt="">
      </a>
    </div>
  </div>
</div>