  <div class="filter-bar">
    <h4 class="title">
      Настройка поиска
    </h4>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          Художественная литература
        </div>
        <div class="collapsible-body">
          <p><a href="">Детективы</a></p>
          <p><a href="">Поэзия</a></p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          Научпоп литература
        </div>
        <div class="collapsible-body">
          <p><a href="">Психология</a></p>
          <p><a href="">Физика</a></p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          Издательство
        </div>
        <div class="collapsible-body">
          <p><a href="">Эксмо</a></p>
          <p><a href="">Росмэн</a></p>
          <p><a href="">Феникс</a></p>
        </div>
      </li>
    </ul>
  </div>
