{{> Head }}

{{> Header }}
<div class="container">
  <h4 class="title">Дипломный проект "Полка Кафки"</h4>
  <p class="flow-text">
    Сайт "Полка Кафки" был разработан в рамках дипломного проекта, цель которого было создать удобную площадку по продаже и обмену книг. 
    Интернет-площадка очень удобны для пользователей, так как позволяют быстро найти нужный им товар в одном месте.
  </p>
  <p class="flow-text">
    Данная ИС была разработана для людей, которые желают продать свои ненужные книги, 
    и для людей, которые хотят купить подешевле книги с рук. Преимущество такой системы перед магазинами - это низкая цена на книги, 
    и возможность найти книгу, которой нет в магазинах.
  </p>
  <h4 class="title">Стек технологий</h4>
  <ul>
    <li class="flow-text"><i class="material-icons">chevron_right</i>Node.js</li>
    <li class="flow-text"><i class="material-icons">chevron_right</i>Express</li>
    <li class="flow-text"><i class="material-icons">chevron_right</i>PostgreSQL</li>
    <li class="flow-text"><i class="material-icons">chevron_right</i>Materializecss</li>
  </ul>
</div>
{{> Footer }}

