{{> Head }}
{{> Header }}
<div class="container">
        <h4>Добавить книгу</h4>
        <div class="grey lighten-5 edit row">
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="input-field col s12">
                    <input id="name_book" type="text" class="validate" name="name_book">
                    <label for="name_book">Название книги</label>
                </div>
                <div class="input-field col s12">
                    <input id="athor_book" type="text" class="validate" name="athor_book">
                    <label for="athor_book">Автор книги</label>
                </div>
                <div class="input-field col s12 m6">
                    <select name="genre">
                        <option value="" disabled selected>Жанры:</option>
                        {{#each genres}}
                        <option value="{{this.id}}">{{this.genres}}</option>
                        {{/each}}
                    </select>
                    <label>Выберите жанр книги</label>
                </div>
                <div class="input-field col s12 m6">
                    <select name="publisher">
                        <option value="" disabled selected>Издатели:</option>
                        {{#each publisher}}
                        <option value="{{this.id}}">{{this.publisher}}</option>
                        {{/each}}
                    </select>
                    <label>Выберите издателя книги</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="year" type="number" class="validate" name="year">
                    <label for="year">Год издания</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="price" type="number" class="validate" name="price">
                    <label id="price-label" for="price">Цена</label>
                </div>
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>Загрузить</span>
                        <input type="file" name="files-book" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" id="file" type="text">
                        <label for="file">Изображения книги</label>
                    </div>
                </div>
                <div class="btn-save">
                    <button class="waves-effect waves-light btn ">
                        Сохранить
                    </button>
                </div>
            </form>
        </div>
    
</div>
{{> Footer }}

