{{> Head }}

{{> Header }}
<div class="container">
    <div class="row">
      <div class="col s12 ">
        <h4>Настройка профиля</h4>
        <div class="grey lighten-5 edit">
            <form action="" method="POST" class="">
                <div class="input-field col s12 m6">
                    <input id="first_name" type="text" class="validate" name="first_name">
                    <label for="first_name">Имя</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="last_name" type="text" class="validate" name="last_name">
                    <label for="last_name">Фамилия</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">Телефон</i>
                    <input id="phone" type="tel" class="validate" name="phone">
                    <label for="phone">Telephone</label>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>
{{> Footer }}

