{{> Head }}

{{> Header }}
<div class="container">
  {{> Banners}}
  {{#each sectionBooks}}
    <h4 class="section-name">
      {{this.name}} <span class="watch-more"><a>Смотреть еще ></a></span>
    </h4>
    {{> Cards this.books}}
  {{/each}}
</div>
{{> Footer }}

