@font-face {
    font-family: "BravoRG";  
    src: url("../fonts/BravoRG.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}

h4 {
    font-family: BravoRG;
}

.title{
    /* Сделать единые стили для названий */
    color: midnightblue;
}

.logo {
    position: absolute;
    left: -55px;
    bottom: 5px;
}

.brand-logo {
    font-family: BravoRG;
}

.mark {
    color: midnightblue;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    flex: 1 0 auto;
}

.pagination li.active {
    background-color: #424242;
}

.flash_msg {
text-align: center;
padding: 5px 20px;
border: 2px solid;
}

.flash_msg.error {
    border-color: red;
    color: red;
}

.flash_msg.success {
    border-color: green;
    color: green;
}


/* banners */

.banners {
    margin: 20px 0;
}

.preview-main {
    width: 100%;
    height: 420px;
    background: url(../images/preview-main.jpg) center no-repeat;
}

.preview-minor {
    width: 100%;
    height: 205px;
    margin-bottom: 10px;
    background: url(../images/preview-minor.jpg) center no-repeat;

}

.preview-text {
    width: 60%;
    text-align: center;
    color: white;
    font-family: "BravoRG";
    margin: 0 auto;
    padding: 90px 0;
    font-size: 80px;
    font-weight: 700;
}

/* bors (fix) */

.watch-more a{
    color: gray;
    font-size: 18px;
    float: right;

}

.card-image img{
    width: 240px;
    height: 180px;
}

.card-avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}

/* .card-writer {
} */

.сard-price {
    color: midnightblue;
    font-size: 18px;
}

/* Filter */

.filter-bar {
    border-right: 1px solid #ddd;
}

.collapsible {
    box-shadow: none;
    border: 0px;

}

.collapsible-header, .collapsible-body {
    border: 0px;
}

.collapsible-body {
    border: 0px;
    padding: 0 25px;
}

.collapsible-body p {
    margin: 0;
    padding: 15px;
}

.collapsible-body p a{
    color: midnightblue;
}

.collapsible-header:hover {
    background-color: rgba(238, 238, 238, 0.438);
}

.collapsible-body p:hover {
    background-color: rgba(238, 238, 238, 0.671);
}

/* Bookshelf */

.pagination {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Login */

.login-form {
    width: 50%;
    min-width: 260px;
    max-width: 560px;
    margin: 5vw auto;
    padding: 30px 10px;
    border: #424242 2px solid;
    border-radius: 5px;
    text-align: center;
}

.login-form .logo {
    font-size: 2.1rem;
    color: midnightblue;
}

/* user */

.btn-edit {
    width: 100%;
}

.card-inform {
    height: 236px;
    margin: 7.5px 0 15px 0;
}

.card-inform .name-section, .books-section{
    padding: 5px 15px;   
    color: white; 
}

.books-section h4{
    margin: 0; 
}

/* edit */

.edit {
    margin: 7.5px 0 15px 0;
    
}

.edit form {
    padding: 30px 20px;
    height: 300px;
}

@media screen and (max-width: 600px) {
    .preview-minor {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    
}
